<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        <!-- Site-wide logo below description -->
        <p>
          <img src="/assets/img/logo.png" alt="Site Logo" width="160">
        </p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <!-- Footer area, you can customize here -->
      </footer>
    </div>
  </body>
</html>
