<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        <!-- Site-wide logo below description -->
        <p>
          <img src="/assets/img/logo.png" alt="Site Logo" width="200">
        </p>

        <!-- Navigation menu -->
          <nav>
            <a href="{{ '/' | absolute_url }}">Home</a> |
            <a href="{{ '/cv' | relative_url }}">CV</a> |
            <a href="{{ '/research' | relative_url }}">Research</a> |
            <a href="{{ '/publications' | relative_url }}">Publications</a> |
            <a href="{{ '/misc' | relative_url }}">Presentations</a> 
          </nav>
      </header>

      <section>
        {{ content }}
      </section>

      <!-- Footer -->
      <footer>
        <p>
          <!-- Social icons -->
          <a href="https://www.researchgate.net/profile/Md-Mursalin-Islam" target="_blank">
            <i class="fab fa-researchgate fa-3x"></i>
          </a>
          <a href="https://orcid.org/0000-0002-0992-5531" target="_blank" title="ORCID">
            <i class="fab fa-orcid fa-3x"></i>
          </a>
          <a href="https://www.linkedin.com/in/mursalin-islam-physics/" target="_blank">
            <i class="fab fa-linkedin fa-3x"></i>
          </a>
        </p>
         <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
